body {
  background-color: rgb(255, 229, 185);
  font-family: arial;
  height:2000px;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), url('kebab.webp');
  background-repeat: no-repeat;
  background-size: cover;
  color:white;
}


.otsikko {
  margin:auto;
  text-align: center;
  font-size:35px;
}

.leipateksti1 {
  margin:auto;
  margin-top:70px;
  margin-bottom: 75px;
  width: 1000px;

  font-size: 40px;

  text-align: center;
}

.tietoa{
  border: 1px solid lightgray;
  width:1500px;
  text-align: center;
  margin:auto;
}
.tietoa div {
  display:inline-block;
  justify-content: space-between;
  width:550px;
  font-size: 30px;
  vertical-align: top;
  
}

.sijainti {
  line-height:55px;
}



.koti-kuva {
  width:430px;
  border-radius: 10px;
}

.avoinna {
  line-height: 55px;
  vertical-align: top;
}

.hinnasto {
  font-size: 40px;
  margin-top: 45px;
  margin-bottom:40px;
  text-align: center;
}

.ruokalista-nimi-container {
  display:flex;
  width: 1300px;
  margin:auto;
  justify-content: space-between;
}


.ruokalaji {
  font-size: 32px;
  margin-bottom: 25px;
  text-decoration: underline;
}

.ruokalajitelma {
  font-size:35px;
  margin-bottom:30px;
  width:1300px;
  text-align:center;
  margin:auto;
}



.hinnasto-container {
  display:flex;
  width:1300px;
  justify-content: space-between;
  margin:auto;
  margin-bottom:30px;
  font-size: 25px;
  flex-direction: row;
  row-gap: 25px;
  flex-wrap:wrap;
  align-items: center;
  border:1px solid gray;
}
.ruoka {
  width:270px;
  text-align:left;
}

.pisteet {
  text-align: center;
}

.hinta {
  text-align:right;
}

.hinnasto-container-pizza {
  display:flex;
  width:1300px;
  justify-content: space-between;
  margin:auto;
  margin-bottom:30px;
  font-size: 25px;
  flex-direction: row;
  row-gap: 25px;
  flex-wrap:wrap;
  align-items: center;
}

.sisältää {
  font-size: 15px;
}